footer{
    width: 100%;
    background-color: black;
}

.fa {
    width: 20px;
    text-align: center;
    text-decoration: none;
}

h6{
    position: absolute;
    top: 20px;
    position: relative;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

#ctt{
    color: white;
}